.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
  }

  .chat-bubble-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
  }

  .message-container {
   background-color: violet;
    height: 300px;
}

#userMessage {
    height: 300px; /* Stel een vaste hoogte in */
    overflow-y: auto; /* Zorg voor scrollen als het vol is */
}