.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}

.chat-bubble-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
}

.message-container {
    background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity))) ;
    height: 300px;
}

#userMessage {
    height: 300px;
    overflow-y: auto;
}